h1{
    justify-content: flex-end;
}
body{
    height: 100%;
    margin: 2em;
    background-color:rgb(8, 8, 8);
    color: green;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
.main, .main2{
    display: flex;
    gap: 20px;
}
.container-md{
    border-radius: 10%;
    display: flex;
    justify-content: center;
}
nav{
    border-radius: 5%;
}
